@import url("https://fonts.googleapis.com/css2?family=Honk&family=Protest+Revolution&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Honk&family=Protest+Revolution&display=swap");

body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
}

.header img {
  position: absolute;
  width: 100vw;
  height: 15vh;
  margin-top: -49.5vh;
}

.footer img {
  position: absolute;
  width: 100vw;
  height: 15vh;
  margin-top: 34vh;
  margin-left: -100vw;
}

a {
  text-decoration: none;
}

p {
  font-family: "Protest Revolution", sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
}

#initial-text {
  margin-top: 30vh;

  word-spacing: 10px;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
}

h1 {
  font-family: "Protest Revolution", sans-serif;
  margin-top: 2vh;
  font-size: 3vw;
  color: #333;
  text-align: center;
}

h2 {
  font-family: "Protest Revolution", sans-serif;
  text-decoration: underline;
  text-underline-offset: 0.5vw;

  text-shadow: #fff;
  margin-top: -1vh;
  font-size: 2vw;
  color: #333;
  text-align: center;
}

#left {
  display: inline-flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 5vw;

  margin-left: -21vw;
  margin-top: -12vh;
  transition: transform 0.3s ease;
}
#right {
  display: inline-flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 5vw;
  margin-left: 18vw;
  margin-top: -12vh;
  transition: transform 0.3s ease;
}

#paintings-button,
#sculptures-button,
#photos-button,
#info {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  text-decoration: none;
  background: #e8e8e8;
  border-radius: 2vw;
  font-family: "Honk", sans-serif;
  font-size: 2vw;
  text-align: center;
  transition: transform 0.3s ease;
  margin-inline: 2vw;
  justify-content: space-between;
  margin-top: 8vh;
  gap: 1vw;
  cursor: pointer;
}
#sculptures-button {
  margin-left: -1.5vw;
}
#photos-button {
  padding-left: -1.5vw;
}
#info {
  margin-left: 5vw;
  margin-top: 2vh;
}

.info-container p {
  margin-left: 10vw;
  margin-right: 10vw;
}

.menu-icon {
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

#paintings-icon {
  background-image: url("media/paint-palette.png");
}

#sculptures-icon {
  background-image: url("media/milo-venus.png");
}

#images-icon {
  background-image: url("media/camera.png");
}

.menu-container button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 10px;
  margin-left: 3vw;
  margin-top: -3vh;
}

button:hover {
  transform: scale(1.1);
}

.item:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}

.item img {
  display: flex;
  max-height: 400px;
  max-width: 600px;

  margin-left: 1.5vw;
}

#hero-container img {
  margin: 0, 0;
  display: flex;

  width: 100vw;
  height: 50vh;
  margin-bottom: -27vh;
}
