@import url("https://fonts.googleapis.com/css2?family=Honk&family=Protest+Revolution&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Honk&family=Protest+Revolution&display=swap");

body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
}

a {
  text-decoration: none;
}
p {
  font-family: "Protest Revolution", sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
}

#initial-text {
  margin-top: 20vh;
  margin-bottom: 30vh;
  word-spacing: 10px;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
}

h1 {
  font-family: "Protest Revolution", sans-serif;
  margin-top: 2vh;
  font-size: 3vw;
  color: #333;
  text-align: center;
}

h2 {
  font-family: "Protest Revolution", sans-serif;
  text-decoration: underline;
  text-underline-offset: 0.5vw;

  text-shadow: #fff;
  margin-top: -1vh;
  font-size: 2vw;
  color: #333;
  text-align: center;
}

#left,
#right {
  font-size: 1.4vw;
  size: 100%;
  display: inline-flex;
  margin: 0 22vw;
  margin-top: 7.35vh;
  margin-bottom: 4vh;
  transition: transform 0.3s ease;
}

#paintings-button,
#sculptures-button,
#photos-button,
#info {
  display: inline-flex;
  flex-direction: row;
  text-decoration: none;
  background: bisque;
  border-radius: 2vw;
  font-family: "Honk", sans-serif;
  font-size: 2vw;
  text-align: center;
  transition: transform 0.3s ease;
  margin-inline: 2vw;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.menu-icon {
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

#paintings-icon {
  background-image: url("media/paint-palette.png");
}

#sculptures-icon {
  background-image: url("media/milo-venus.png");
}

#images-icon {
  background-image: url("media/camera.png");
}

.menu-container button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 10px;
  margin-left: 3vw;
  margin-top: -3vh;
}

button:hover {
  transform: scale(1.1);
}

.item:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}

.item img {
  max-height: 330px;
  max-width: 600px;
  margin-top: 1vh;
  margin-left: 1.5vw;
}
