:root {
  /* COLORS */
  --color-primary: #ffa800;
  --color-secondary: #bb0000;
  --color-tertiary: #89bd54;
  --color-text-dark: #444444;
  --color-text-light: #eeeeee;

  --h-padding: 20px;
  --v-padding: 20px;
  --gap: 20px;

  --speed: 0.5s;
}
