{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
    {% if validlink %}
        <form method="post">
            {% csrf_token %}
            <h2> Password reset </h2>
            {{ form.as_p }}
            <button id="reset-button" type="submit">Change Password</button>
        </form>
    {% else %}
        <p> The password reset link was invalid, possibly because it has already been used. Please request a new password reset. </p>
    {% endif %}
    
{% endblock content %}