img {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: row;
  padding: 2vw, 2vh;
  margin-top: 2vh;
  overflow: scroll;
  flex: 1;
}

#audio-container {
  display: flex;
  flex: 1;
  min-height: 100px;
}

button {
  flex: 1;
}
